body {
  min-height: 100vh;
  transition: 500ms;
  overflow: hidden;
}
.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
}
RufflePlayer, ruffle-player {
  display: block;
  width: 100vw;
  height: calc(100vh - 21px);
  --splash-screen-background: var(--bg-1);
}
#navbar {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  height: 21px;
  align-items: center;
  color: var(--text-1);
  text-decoration: none;
}
.keep {
  margin: 0;
  padding: 0px 4px;
}
#sub {
  display: none;
}
input[type="file"] {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
}
#urlswf {
  width: 80%;
  box-sizing: border-box;
}
.opts {
  display: flex;
  gap: 5px;
  align-items: center;
}
.opts p {
  margin: 0px;
}
.opts button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  padding: 0px;
  border-radius: 0px;
  border: none;
}

@media (max-width: 700px) {
  .mobile-hide {
    display: none;
  }
}

/* Force dark mode and our colors */
* {
  --modal-background: var(--bg-2) !important;
  --modal-foreground-rgb: 221,221,221 !important;
  --modal-foreground-filter: invert(90%) !important;
}
