body {
  min-height: 100vh;
  transition: 500ms;
  overflow: hidden;
}
RufflePlayer, ruffle-player {
  display: block;
  width: 100vw;
  height: calc(100vh - 21px);
  --splash-screen-background: var(--bg-1);
}
#navbar {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  height: 21px;
  align-items: center;
  color: var(--text-1);
  text-decoration: none;
}
.keep {
  margin: 0;
  padding: 0px 4px;
}
#sub {
  display: none;
}
input[type="file"] {
  margin: 0;
  padding: 0px 5px;
  border-radius: 0.5rem;
}
input[type="file"]::file-selector-button {
  border: none;
  padding: 0;
}
#urlswf {
  width: 80%;
  box-sizing: border-box;
}
.up {
  text-align: center;
  flex: 1;
}
.opts {
  display: flex;
  align-items: center;
}
.opts p {
  margin: 0;
}
.opts button {
  padding: 0px 4px;
  border-radius: 0;
  border: none;
}

/* Force dark mode and our colors */
* {
  --modal-background: var(--bg-2) !important;
  --modal-foreground-rgb: 221,221,221 !important;
  --modal-foreground-filter: invert(90%) !important;
}